:root {
    --accent-color: rgb(168, 97, 230);
    --margins: 1.5em;
    --dark-grey: rgb(93, 93, 93);
}

* {
    /* border: red dotted 1px; */
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
   overflow: hidden;
   height: 80vh;
}