section {
    overflow: hidden;
}

#group-results {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 4em;
    padding: 1em;
    gap: 2em;
}
.group {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5em;
    width: 23em;
    border: var(--accent-color) solid 1px;
    height: 12em;
}

.admin {
    text-align: center;
    font-size: 9pt;
    color: var(--dark-grey);
}

.join {
    display: block;
}

.group-type {
    font-size: 8pt;
}

#joinGroup-btn {
    padding: 0.5em 1em;
}