section {
    overflow: hidden;
}

#group-results {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 4em;
    padding: 1em;
    gap: 2em;
}

#group-results .group {
    width: 32em;
    height: 15em;
    align-content: center;
}

#my-group-results {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    padding: 2em;
}

#my-group-results .group {
    width: 28em;
}
.group {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5em;
    width: 23em;
    border: var(--accent-color) solid 1px;
    height: 12em;
}

.admin {
    text-align: center;
    font-size: 11pt;
    color: var(--dark-grey);
}

.join {
    display: block;
}

.group-type {
    padding-top: 8px;
    font-size: 11pt;
}

#joinGroup-btn {
    padding: 0.5em 1em;
}