#welcome {
    margin: 1em;
    font-size: 28pt;
    font-weight: lighter;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 17vw;
    padding: 1em 2em 1em 1em;
    border-right: solid 1px var(--accent-color);
}

.action-buttons button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 1em;
    padding: 0.5em 2.5em;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin: 3em;
    height: 65vh;
    overflow-y: auto;
}

.feed {
    width: 70vw;
    height: 60vh;
    overflow-y: scroll;
}

.page-view h5 {
    font-size: 18pt;
    font-weight: bold;
    margin-left: 2em;
    margin-bottom: 0.5em;
}

