#logo {
    background: none;
    border: none;
}

#logo img {
    height: 6em;
    background: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: var(--accent-color) 2px solid;
    height: 9em;
    margin-bottom: 1em;
}

.left-align {
    display: flex;
    align-items: center;
    gap: 2em;
}

.right-align {
    display: flex;
    align-items: center;
    gap: 2em;
}


#login-div #login {
    margin: 0 1em 0 0;
}



#logout, #home, #searchBtn {
    background: none;
    border: none;
}

