#logo {
    background: none;
    border: none;
    font-size: 18pt;
    font-weight: bold;
}

#logo img {
    height: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: var(--accent-color) 2px solid;
    height: 5em;
}

.left-align {
    display: flex;
    align-items: center;
    gap: 2em;
}

.right-align {
    display: flex;
    align-items: center;
    gap: 2em;
}

#logout, #home, #searchBtn {
    background: none;
    border: none;
}

