#search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 1.5em;
    overflow: auto;
    height: 100%;
    padding: 3em 0.5em 8em 0.5em;
}

.recipe {
    height: 23em;
    width: 27em;
    padding: 15px;
}

.recipe-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-header h3 {
    font-size: 18pt;
}

.open-recipe, #save-recipe {
    background: none;
    border: none;
}

.right-side {
    display: flex;
}

.user {
    font-size: 8pt;
    color: var(--dark-grey);
    text-align: left;
}

.body {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    height: 9em;
    margin: 0 1em 1em 1em;
    text-align: left;
}

.body h4 {
    font-size: 14pt;
}


.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

.time, .servings {
    display: flex;
    gap: 0.5em;
}

.time p, .servings p {
    margin-top: 0.5em;
}

.instructions li {
    font-size: 9pt;
}

.ingredients li {
    list-style:square;
    text-transform: capitalize;
}

.ingredients {
    overflow: auto;
    width: fit-content;
}

.instructions {
    overflow: auto;
    width: fit-content;
}
