#search-buttons {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 3em;
    font-size: 16pt;
}

#search-buttons button {
    background: none;
    border: none;
}
#searchbar {
    width: 70%;
    height: 3em;
    border-radius: 5px;
    border: solid black 1pt;
    padding: 1em;
}

#search-container {
    margin: 1em 3em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

#submit-recipe-search, #submit-group-search {
    width: 7em;
}

#search-page {
    overflow-y: hidden;
    max-height: 90vh;
}